.bismillah{
  max-height: 3em;
  margin-top: 1.5em;
  @media (min-width: 768px) {
    max-height: 5em;
  }
}

.time-general{
  font-size: 1em;
}

.time-prayer{
  font-size: 1em;
}

.prayer-marker{
  color: grey;
}
.prayer-name{
  font-weight: bold;
  font-size: 1.25em;
}

.prayer-data{
  font-family: monospace;
  font-size: 1.5em;
}

.time-label{
  font-weight: bold;
  font-size: 1.25em;
}

.time-data{
  font-family: monospace;
  font-size: 1.5em;
}

.table-caption{
  font-size: 1.5em;
}

.work-highlight{
  background-color: #1779ba;
  color: white;
}

.rest-highlight{
  background-color: #3adb76;
  color: white;
}

.button{
  width: 20%;
  margin: 0.25em;
}

.control {
  margin-top: 2em;
}